{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 mt-5">

      <div class="card shadow">
        <div class="card-body p-4">
          <h1 class="card-title text-center mb-4">Création de compte</h1>

          {{ render_form(form, form_type="floating", button_map={'submit': 'primary'}) }}

          <div class="text-center mt-3">
            <a href="{{ url_for('auth.login') }}">Vous avez déjà un compte? Connectez-vous ici</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}